.todo-list {
    display: flex;
    align-items: column;
    justify-content: center;
} 

.todo-list__item {
    width: 20rem;
    height: 30rem;
    background-color: #FCF8E8;
    padding: 1.5rem;
}
